.input {
  font-size: $font-size-input;
  font-weight: 400;
  color: $color-text;
  height: $input-height;
  width: $input-width;
  &__form {
    display: flex;
  }

  &--block {
    width: 100%;
  }

  &--icon {
    border-right: none;
    border-radius: 5px 0px 0px 5px;
  }

  &__container-icon {
    display: flex;
    width: 28px;
    border: 1px solid $color-on-default;
    border-radius: 0px 5px 5px 0px;
    border-left: none;
    padding-right: 4px;
    background: $color-background-container;

    &__img {
      position: relative;
      width: 17px;
      filter: invert(13%) sepia(100%) saturate(10000%) hue-rotate(385deg)
        brightness(75%) contrast(96%);
    }
  }
}

input.input[type="text"] {
  border: 1px solid $color-primary-light;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background: $color-background-container;
}

input.input::placeholder {
  color: $color-on-default;
}

input.input.input--icon[type="text"] {
  border-radius: 5px 0px 0px 5px !important;
  border-right: none !important;
}

input.input[type="text"]:focus {
  outline: none;
  border: 1px solid $color-primary-dark !important;
  box-shadow: none !important;
}

:is(input.input:focus + .input__container-icon) {
  border-top: 1px solid $color-primary-dark !important;
  border-bottom: 1px solid $color-primary-dark !important;
  border-right: 1px solid $color-primary-dark !important;
}

input.input.input--icon[type="text"]:focus {
  border-right: none !important;
}
