// Primario,secundario y terciario.

$color-primary: $color-primary-palet;
$color-primary-darker: $color-primary-darker-palet;
$color-primary-dark: $color-primary-dark-palet;
$color-primary-light: $color-primary-light-palet;
$color-primary-lighter: $color-primary-lighter-palet;

$color-secondary: $color-secondary-palet;
$color-secondary-darker: $color-secondary-darker-palet;
$color-secondary-dark: $color-secondary-dark-palet;
$color-secondary-light: $color-secondary-light-palet;
$color-secondary-lighter: $color-secondary-lighter-palet;

$color-tertiary: $color-tertiary-palet;
$color-tertiary-darker: $color-tertiary-darker-palet;
$color-tertiary-dark: $color-tertiary-dark-palet;
$color-tertiary-light: $color-tertiary-light-palet;
$color-tertiary-lighter: $color-tertiary-lighter-palet;

// Fondo y superficies

$color-background: $color-background-palet;
$color-background-container: $color-background-container-palet;
$color-background-disabled: $color-background-disabled-palet;
$color-background-hover: $color-background-hover-palet;
$color-background-tooltip: $color-background-tooltip-palet;
$color-background-avatar: $color-background-avatar-palet;
$color-background-chips: $color-background-chips-palet;
$color-background-numbers-stepper: $color-background-numbers-stepper-palet;
$color-background-inactive: $color-background-inactive-palet;
// Tipografía e iconografía

$color-title: $color-title-palet;
$color-subtitle: $color-subtitle-palet;
$color-text: $color-text-palet;
$color-link: $color-link-palet;
$color-success: $color-success-palet;
$color-warning: $color-warning-palet;
$color-alert: $color-alert-palet;
$color-information: $color-information-palet;

// Complementarias

$color-on-default: $color-on-default-palet;
$color-on-primary: $color-on-primary-palet;
$color-on-secondary: $color-on-secondary-palet;
$color-on-tertiary: $color-on-tertiary-palet;
$color-on-hover: $color-on-hover-palet;
$color-on-disabled: $color-on-disabled-palet;
$color-outline-success: $color-outline-success-palet;
$color-outline-warning: $color-outline-warning-palet;
$color-outline-alert: $color-outline-alert-palet;
$color-outline-information: $color-outline-information-palet;
