.card {
  background: $color-white;
  box-shadow: 0px 0px 20px rgb(44 14 97 / 15%);
  border-radius: 10px;

  &--no-shadow {
    box-shadow: none;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;

    &__close {
      position: relative;
      top: 3px;
      cursor: pointer;
    }

    &--simpleCard {
      display: none !important;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

    &--simpleCard {
      display: none !important;
    }
  }

  &__body {
    width: 100%;
    color: $color-text;
  }
}
