.pokemon-list {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    height: auto;
    overflow-y: auto;
    max-height: 85vh;
    padding: 10px;
  }
  &--is-mobile {
    .pokemon-list {
      display: flex;
      flex-direction: column;
      &__container {
        grid-template-columns: repeat(1, minmax(100%, 1fr));
      }
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    &__pagination {
      display: flex;
      justify-content: flex-end;
      gap: 1em;
      align-items: center;
    }
  }
}
