name: Deploy Vue.js Frontend to Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Build Vue.js Frontend
      - name: Build Vue.js Frontend
        run: |
          if [ -f "yarn.lock" ]; then
            yarn install
            yarn build
          elif [ -f "package-lock.json" ]; then
            npm ci
            npm run build
          else
            echo "Unable to determine package manager"
            exit 1
          fi

      - name: Upload build artifacts
        uses: actions/upload-artifact@v2
        with:
          name: build-artifacts
          path: dist

  deploy:
    environment:
      name: github-pages
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download build artifacts
        uses: actions/download-artifact@v4.1.7
        with:
          name: build-artifacts

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          source_dir: dist
