name: Deploy Vue.js Frontend to Pages

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Build Vue.js Frontend
      - name: Build Vue.js Frontend
        run: |
          if [ -f "yarn.lock" ]; then
            yarn install
            yarn build
          elif [ -f "package-lock.json" ]; then
            npm ci
            npm run build
          else
            echo "Unable to determine package manager"
            exit 1
          fi
          # Upload Frontend Artifact
          mv dist ../frontend-dist
          echo "frontend-dist" >> dist-ignore-list.txt
      # Upload Frontend Artifact
      - name: Upload Frontend Artifact
        uses: actions/upload-artifact@v4.3.3
        with:
          name: frontend-dist
          path: frontend-dist

  deploy:
    environment:
      name: github-pages
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.5

      - name: Download a Build Artifact
        uses: actions/download-artifact@v4.1.7
        with:
          name: frontend-dist

      - name: Deploy GitHub Pages site
        uses: actions/deploy-pages@v4.0.5
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          timeout: 600000
          error_count: 10
          reporting_interval: 5000
          artifact_name: frontend-dist
